//ABOUTページの共通設定
.about{
  &__enTtl{
    color: $color-main;
    font-size: 1.2rem;
    font-family: brandon-grotesque, sans-serif;
    font-weight: bold;
    margin-bottom: 1.5rem;
    @include respond(tab-port){
      font-size: 1.6rem;
      margin-bottom: 3rem;
    }
  }
  &__jpTtl{
    color: $color-font;
    font-size: 2.6rem;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    line-height: 1.54;
    padding-bottom: 2.5rem;
    @include respond(tab-port){
      font-size: 4rem;
      span{
        font-size: 2.6rem;
      }
    }
    @include respond(laptop){
      font-size: 5rem;
      span{
        font-size: 3.6rem;
      }
    }
  }
  &__txtBox{
    position: relative;
    z-index: 10;
    color: $color-font;
    font-size: 1.4rem;
    font-family: 'Noto Sans', sans-serif;
    line-height: 2.28;
    background: $color-white;
    &::before,&::after{
      content: '';
      top: 0;
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background: $color-white;
    }
    &::before{
      right: 100%;
    }
    &::after{
      left: 100%;
    }
    @include respond(tab-port){
      width: 50%;
      padding-top: 5rem;
      margin-left: 4rem;
      max-width: 54.5rem;
      &::before{
        right: 100%;
        width: 10rem;
      }
      &::after{
        left: 100%;
        width: 100%;
      }
    }
    p{
      &:not(:last-of-type){
        margin-bottom: 4rem;
      }
    }
  }
  &__vision{
    position: relative;
    &::before,&::after{
      content: '';
      top: 0;
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background: $color-white;
    }
    &::before{
      right: 100%;
    }
    &::after{
      left: 100%;
    }
    @include respond(tab-port){
      display: flex;
      justify-content: space-between;
      max-width: 112rem;
      margin: 0 auto;
      &::before,&::after{
        display: none;
      }
    }
  }
  &__mission{
    .about__txtBox{
      margin-bottom: 9rem;
      @include respond(tab-port){
        padding-top: 5.2rem;
        margin-bottom: 0;
      }
    }
    @include respond(tab-port){
      display: flex;
      justify-content: space-between;
      max-width: 112rem;
      margin: 0 auto;
    }
  }
}


//ABOUT CSS start

.about{
  margin-bottom: 15rem;
  @include respond(tab-port){
    margin-bottom: 20rem;
  }
  &__ttlBlock{
    position: relative;
    width: 100%;
    padding-bottom: 5rem;
    &::before,&::after{
      content: '';
      top: 0;
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background: $color-white;
    }
    &::before{
      right: 100%;
    }
    &::after{
      left: 100%;
    }
    @include respond(tab-port){
      padding-bottom: 0;
      max-width: 112rem;
      margin: 0 auto 8.5rem;
      &::before,&::after{
        display: none;
      }
    }
  }
  &__ttl{
    margin-bottom: 4rem;
    @include respond(tab-port){
      margin-bottom: 1rem;
    }
  }
  &__nav{
    margin-left: auto;
    width: 28rem;
    position: relative;
    z-index: 200;
    @include respond(tab-port){
      width: 36rem;
    }
    &--lists{
      display: flex;
      justify-content: space-between;
      .list-last a{
        padding-right: 0;
      }
      .list-last::after{
        content: '';
        width: 0rem;
      }
    }
    &--list{
      font-size: 1.2rem;
      font-weight: bold;
      font-family: brandon-grotesque, sans-serif;
      @include respond(tab-port){
        font-size: 1.6rem;
      }
      a{
        color: $color-font;
        text-decoration: underline;
        padding: 0 1rem;
      }
      &::after{
        content: '';
        display: inline-block;
        width: .2rem;
        height: 80%;
        background: #323232;
        transform: skewX(-30deg);
      }
    }
  }
  &__ttlBox{
    position: relative;
    z-index: 20;
    background: $color-white;
    @include respond(tab-port){
      background: transparent;
    }
  }

  &__forBg{
    position: relative;
    background: $color-white;
    padding-top: 9rem;
    @include respond(tab-port){
      padding-top: 29rem;
      margin-top: -11rem;
    }
  }
  &__vision--pic{
    margin-left: auto;
    width: calc(100% - (25/375)*100%);
    margin-bottom: 5rem;
    @include respond(tab-port){
      margin-bottom: 13rem;
    }
  }
}

.member{
  margin-bottom: 10rem;
  @include respond(tab-port){
    margin-bottom: 26rem;
  }
  &__ttl{
    margin-bottom: 4rem;
    @include respond(tab-port){
      padding: 0 0;
      max-width: 112rem;
      margin: 0 auto 5rem;
    }
  }
  &__container.l-base{
    @include respond(tab-port){
      padding: 0;
      display: flex;
      justify-content: space-between;
    }
  }
  &__box{
    @include respond(tab-port){
      width: calc(100% / 3);
    }
    &--thd{
      font-family: brandon-grotesque, sans-serif;
      position: relative;
      background-color: $color-sub;
      height: 41.7vw;
      p{
        color: $color-white;
        font-size: 1.6rem;
        font-weight: bold;
        letter-spacing: .06em;
        @include absCenter 
      }
    }
  }
  &__pic{
    width: 100%;
    margin-bottom: 2rem;
  }
  &__posiName{
    @include respond(tab-port){
      padding-left: 2rem;
    }
  }
  &__position{
    font-family: brandon-grotesque, sans-serif;
    font-size: 1.4rem;
    color: $color-font-grey;
    letter-spacing: .06em;
    margin-bottom: 1rem;
  }
  &__name{
    font-family: brandon-grotesque, sans-serif;
    font-size: 2.1rem;
    font-weight: bold;
    color: $color-font;
    letter-spacing: .06em;
    margin-bottom: 1.5rem;
  }
  &__introduction{
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.2rem;
    color: $color-font;
    letter-spacing: .06em;
    margin-bottom: 4rem;
    line-height: 2;
    p:nth-of-type(2){
      margin-bottom: 0;
    }
  }
}

.company{
  margin-bottom: 10rem;
  @include respond(tab-port){
    margin-bottom: 21rem;
  }
  &__ttl{
    margin-bottom: 2rem;
    @include respond(tab-port){
      margin-bottom: 8rem;
    }
  }
  &__table{
    border-spacing: (20/375)*100vw 0;
    margin-bottom: 4.5rem;
    table-layout: auto;
    @include respond(tab-port){
      border-spacing: 1rem 0;
      width: 85rem;
      margin: 0 auto 15rem;
    }
    width: 100%;
    tr:last-of-type{
      th,td{
        border-bottom: none;
        @include respond(tab-port){
          border-bottom: .1rem solid $color-grey-dark;
        }
      }
      td{
        @include respond(tab-port){
          line-height: 2;
        }
      }
      
        
    }
    th,td{
      display:table-cell;
      font-family: brandon-grotesque, sans-serif;
      font-size: 1.4rem;
      line-height: 1.42;
      border-bottom: .1rem solid $color-grey-dark;
      @include respond(tab-port){
        font-size: 1.6rem;
        letter-spacing: .06em;
      }
    }
    th{
      text-align: right;
      font-weight: bold;
      @include respond(tab-port){
        text-align: left;
        padding-left: 2rem;
      }
    }
    td{
      width: 70%;
      padding: 2.5rem 0;
      @include respond(tab-port){
        padding-left: 8rem;
      }
      span{
        text-indent: 1em;
      }
    }
  }
  &__map{
    filter: grayscale(1);
    height: 20rem;
    @include respond(tab-port){
      height: 39rem;
    }
    iframe{
      width: 100%;
      height: 100%;
      @include respond(tab-port){
        margin:0 auto;
        max-width: 112rem;
      }
    }
  }
}

.aboutLogo{
  margin-bottom: 19rem;
  &__box{
    @include respond(tab-port){
      max-width: 112rem;
      margin: 0 auto 17rem;
      display: flex;
      justify-content: space-between;
    }
  }
  
  &__img{
    width: 14.6rem;
    margin: 0 auto 4rem;
    @include respond(tab-port){
      width: 25rem;
      margin: 0 auto 0 0;
    }
  }
  &__expContainer{
    width: 100%;
    @include respond(tab-port){
      width: 55rem;
      margin-left: 8rem;
    }
    &--txt{
      font-family: 'Noto Sans', sans-serif;
      font-size: 1.4rem;
      line-height: 2;
      margin-bottom: 4rem;
      @include respond(tab-port){
        margin-bottom: 7.5rem;
      }
    }
    &--pic{
      width: 100%;
    }
  }
}