@charset "UTF-8";

/* --- CSS start ---*/
* {
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
img{
    width: 100%;
    vertical-align: bottom;
}
a{
    text-decoration: none;
}
ul,li{
    list-style-type: none;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    width: 100%;
    line-height: 1;
    position: relative;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}
//font-setting